
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <script src="~/Areas/AssetAdmin/vendor/jquery/jquery.js"></script>
    <script src="~/Areas/AssetAdmin/vendor/bootstrap/js/bootstrap.js"></script>
    <script src="~/Areas/AssetAdmin/vendor/chart.js/Chart.js"></script>
    <script src="~/Areas/AssetAdmin/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="~/Areas/AssetAdmin/vendor/fontawesome-free/css"></script>

    <



</head>

<body class="animsition">
    @RenderBody()

    <!-- Jquery JS-->
    <script src="~/Areas/AssetAdmin/vendor/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="~/Areas/AssetAdmin/vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="~/Areas/AssetAdmin/vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <!-- Vendor JS       -->
    <script src="~/Areas/AssetAdmin/vendor/slick/slick.min.js"></script>
    <script src="~/Areas/AssetAdmin/vendor/wow/wow.min.js"></script>
    <script src="~/Areas/AssetAdmin/vendor/animsition/animsition.min.js"></script>
    <script src="~/Areas/AssetAdmin/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <script src="~/Areas/AssetAdmin/vendor/counter-up/jquery.waypoints.min.js"></script>
    <script src="~/Areas/AssetAdmin/vendor/counter-up/jquery.counterup.min.js"></script>
    <script src="~/Areas/AssetAdmin/vendor/circle-progress/circle-progress.min.js"></script>
    <script src="~/Areas/AssetAdmin/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="~/Areas/AssetAdmin/vendor/chartjs/Chart.bundle.min.js"></script>
    <script src="~/Areas/AssetAdmin/vendor/select2/select2.min.js"></script>

    <!-- Main JS-->
    <script src="~/Areas/AssetAdmin/js/main.js"></script>

</body>

</html>
<!-- end document-->
